/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap'); */

/* :root{
    color: orange;
} */

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
}
/* 
*::selection{
    background: orange;
} */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: black;
    display: flex;
    align-items: center;
    z-index: 1000;
    justify-content: space-between;
    padding: .8rem;
}

header .logo{
    font-size: 2rem;
    font-weight: bolder;
    color: beige;
    text-transform: uppercase;
}

header .navbar a{
    font-size: 1.5rem;
    color: beige;
    margin:0 .8rem;
}

header .icon a{
    color: beige;
    font-size: 1.5rem;
    margin-right: 2rem;
    cursor: pointer;
}

header .search-bar-container{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: black;
    display: flex;
    padding: .8rem 2rem;
    align-items: center;
    border-top: 0.1rem solid rgb(58, 51, 51);
    z-index: 1001;
    text-transform: none;
    /* clip-path: polygon(0 0, 100% 0, 100% 0 , 0 0); */
}

/* header .search-bar-container .active{
    clip-path: polygon(0 0, 100% 0, 100% 0 , 0 0);
} */

header .search-bar-container #search-bar{
    width: 100%;
    padding: .8rem;
    border-radius: 0.5rem;
}

header .search-bar-container label{
    color: beige;
    padding: .8rem;
}

body{
    height: 200rem;
}

/* Home section css */

section{
    padding: 2rem 9%;
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
    text-align: center;

}

.home .content h3{
    font-size: 4.5rem;
    color: wheat;
    text-transform: uppercase;
    text-shadow: black;
}

.home .content p{
    font-size: 2.5rem;
    color: wheat;
    padding: 5rem;
}

.home .content a{
    background-color:yellow;
    color: black;
    padding: 1rem;
}

.home .video-container video{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.home .controls {
    padding: .5rem;
    border-radius: 5rem;
    background-color: black;
    position: relative;
    top: 10rem;
}

.home .controls .vid-btn{
    height: 1rem;
    width: 1rem;
    display: inline-block;
    border-radius: 50%;
    background: #ffff;
    cursor: pointer;
    margin: .5rem;

}

.home .controls .vid-btn .active{
    background: orange;
}

/* Set the size of the div element that contains the map */
#map {
    height: 800px; /* The height is 400 pixels */
    width: 600%; /* The width is the width of the web page */
    margin: auto;
  }

body{
    height: 100vh;
    width: 100vw;
}
/* Search Bar */
*{
 margin:0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}

.container{
width: 100%;
min-height: 100vh;
padding: 5%;
background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)),url(images/background.jpg);
display: flex;
align-items: center;
justify-content: center;
}