.signin_bg{
    background-image: url(contactbg.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  height: 100rem;  
}

.container_signin{
    margin: 4rem 6rem;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    width: 100%;
}
#formBasicEmail {
    height: 1.5rem;
    columns: 3;
    width: 15rem;
    margin: auto;
    border: 1px solid black;

}

#formBasicPassword {
    height: 1.5rem;
    columns: 3;
    width: 15rem;
    margin: auto;
    border: 1px solid black;

}

.button{
    height: 1.8rem;
    columns: 3;
    width: 15rem;
    margin: auto;
    margin-bottom: 1.5rem;
    text-align: center;
}

.acc{
    font-size: 1.2rem;
    padding: 0;

}